$color-primary: #2b5b84;
$color-primary-light: #5d88b4;
$color-primary-dark: #003257;

$color-secondary: #ffd343;
$color-secondary-light: #ffff76;
$color-secondary-dark: #c8a200;

$color-text-primary: #ffffff;
$color-text-secondary: #000000;

$theme-colors: (
  "primary": $color-primary,
  "primary-light": $color-primary-light,
  "primary-dark": $color-primary-dark,
  "secondary": $color-secondary,
  "secondary-light": $color-secondary-light,
  "secondary-dark": $color-secondary-dark,
  "text-primary": $color-text-primary,
  "text-secondary": $color-text-secondary,
);



@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import "variables";
@import "../../node_modules/bootstrap-material-design/scss/mixins/";

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities/text";

@import "../../node_modules/bootstrap-material-design/scss/reboot";

@import "../../node_modules/bootstrap-material-design/scss/layout";
@import "../../node_modules/bootstrap-material-design/scss/buttons";
@import "../../node_modules/bootstrap-material-design/scss/checkboxes";
@import "../../node_modules/bootstrap-material-design/scss/custom-forms";
@import "../../node_modules/bootstrap-material-design/scss/switches";
@import "../../node_modules/bootstrap-material-design/scss/radios"; 
@import "../../node_modules/bootstrap-material-design/scss/forms";
@import "../../node_modules/bootstrap-material-design/scss/input-group";
@import "../../node_modules/bootstrap-material-design/scss/list-group";
@import "../../node_modules/bootstrap-material-design/scss/tables";
@import "../../node_modules/bootstrap-material-design/scss/nav";
@import "../../node_modules/bootstrap-material-design/scss/navbar";
@import "../../node_modules/bootstrap-material-design/scss/alerts"; 
@import "../../node_modules/bootstrap-material-design/scss/progress";
@import "../../node_modules/bootstrap-material-design/scss/pagination";
@import "../../node_modules/bootstrap-material-design/scss/type";
@import "../../node_modules/bootstrap-material-design/scss/tooltip"; 
@import "../../node_modules/bootstrap-material-design/scss/popover";
@import "../../node_modules/bootstrap-material-design/scss/cards";
@import "../../node_modules/bootstrap-material-design/scss/modal";
@import "../../node_modules/bootstrap-material-design/scss/dropdown";
@import "../../node_modules/bootstrap-material-design/scss/drawer";
@import "../../node_modules/bootstrap-material-design/scss/themes";

@import "../../node_modules/bootstrap-material-design/scss/ripples";

@import "../../node_modules/bootstrap-material-design/scss/extensions";

@import "site";